{% load account_tags %}

<article class="brick entry format-standard animate-this">
  {% if article.thumb %}
  <div class="entry-thumb">
    <a href="{% url 'article:detail' slug=article.slug %}" class="thumb-link">
      <img src="{{article.thumb.url}}" alt="{{article.thumb_alt}}" />
    </a>
  </div>
  {% endif %}

  <div class="entry-text">
    <div class="entry-header">
    {% if not 'category' in request.path %}
      <div class="entry-meta">
        <span class="cat-links">
          <a href="{% url 'home:category_page' category=article.category %}">{{article.category |capfirst}}</a>
        </span>
      </div>
    {% endif %}

      <h1 class="entry-title">
        <a href="{% url 'article:detail' slug=article.slug %}">{{article.title}}</a>
      </h1>
    </div>

    <div class="entry-excerpt">
    {% if article.show_excerpt %}
      {{article.excerpt}}
    {% else %}
      {{article.body|striptags|truncatechars:255}}
    {% endif %}
    </div>

    <ul class="entry-meta">
      <span class="cat-links">
        {{article.get_datetime |date:"F j, Y, g:i a"}}
          {% user_name article.author href=True %}
      </span>
    </ul>
  </div>
</article>
