{% extends 'home/base.html' %}

{% block title %}Category List | Neutral Tip{% endblock title %}

{% block css %}
.main h3 {
    padding-left: 2em;
}

.main h3 a {
    color: #000;
}
{% endblock css %}

{% block body %}


<div class="main">
    <h1>Categories in NT</h1>
    
    {% for category in categories %}
        <h3>
            -
            <a href="{% url 'home:category_page' category=category.name %}">{{ category.name|capfirst }}</a>
        </h3>
    {% endfor %}
</div>

{% endblock body %}