{% extends 'home/base.html' %}
{% load static %}

{% block meta %}
{% include 'home/components/~common/meta.html' with meta_title='Neutral Tip' meta_desc='Neutral Tip is an Indian non-profit organization that publishes news, disclosures, classified media provided by sources, media critique, reportage and satirical views on current happenings around. It was founded in 2021 by Vaibhav Shukla in India under the holding company MRVAIBH Inc., started in 2019 that has been providing multi-sector benefits for the last 2 years.' %}
{% endblock meta %}

{% block title %}Neutral Tip{% endblock title %}

{% block body %}

<!-- masonry
	 ================================================== -->
<section id="bricks">
	<div class="row masonry">
		<!-- brick-wrapper -->
		<div class="bricks-wrapper">
			<div class="grid-sizer"></div>

			{% include 'home/components/Home/featured.html' with featured_articles=featured_articles %}
			
			{% for article in articles %}
				{% include 'home/components/Home/general-card.html' with article=article %}
			{% endfor %}
		</div>
		<!-- end brick-wrapper -->
	</div>
	<!-- end row -->

	{% if is_paginated %}
        <div class="row">
            <nav class="pagination">
                {% if page_obj.has_previous %}
                    <a href="/?page={{ page_obj.previous_page_number }}" class="page-numbers prev">Prev</a>
                {% else %}
                    <span class="page-numbers prev inactive">Prev</span>
                {% endif %}

                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <span class="page-numbers current">{{ i }}</span>
                    {% else %}
                        <a href="/?page={{ i }}" class="page-numbers">{{ i }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a href="/?page={{ page_obj.next_page_number }}" class="page-numbers next">Next</a>
                {% else %}
                    <span class="page-numbers next inactive">Next</span>
                {% endif %}
            </nav>
        </div>
    {% endif %}
</section>
<!-- end bricks -->

{% endblock body %}
