{% extends 'home/base.html' %}
{% load static %}

{% block meta %}
{% include 'home/components/~common/meta.html' with meta_title='Neutral Tip' meta_desc='Neutral Tip is an Indian non-profit organization that publishes news, disclosures, classified media provided by sources, media critique, reportage and satirical views on current happenings around. It was founded in 2021 by Vaibhav Shukla in India under the holding company MRVAIBH Inc., started in 2019 that has been providing multi-sector benefits for the last 2 years.' %}
{% endblock meta %}

{% block title %}Neutral Tip{% endblock title %}

{% block body %}

<!-- masonry
	 ================================================== -->
<section id="bricks">
	<div class="row masonry">
		<!-- brick-wrapper -->
		<div class="bricks-wrapper">
			<div class="grid-sizer"></div>

			{% include 'home/components/Home/featured.html' with featured_articles=featured_articles %}
			
			{% for article in articles %}
				{% include 'home/components/Home/general-card.html' with article=article %}
			{% endfor %}
		</div>
		<!-- end brick-wrapper -->
	</div>
	<!-- end row -->

	<div class="row">
		<nav class="pagination">
			{% if current_page == 1 %}
				<span class="page-numbers prev inactive">Prev</span>
			{% else %}
				<a href="/?page={{ current_page|add:"-1" }}" class="page-numbers prev">Prev</a>
			{% endif %}

			{% for page in paginations %}
				{% if page == current_page %}
					<span class="page-numbers current">{{ page }}</span>
				{% else %}
					<a href="/?page={{ page }}" class="page-numbers">{{ page }}</a>
				{% endif %}
			{% endfor %}

			{% comment %}
				wraping in with block to split 'range(from, to)' into list
				and then we subtracted 1 from 9th index element to get the last page number
			{% endcomment %}
			{% with paginations|make_list as range_string_list %}
				{% if current_page == range_string_list.9|add:"-1" %}
					<span class="page-numbers next inactive">Next</span>
				{% else %}
					<a href="/?page={{ current_page|add:"1" }}" class="page-numbers next">Next</a>
				{% endif %}
			{% endwith %}
		</nav>
	</div>
</section>
<!-- end bricks -->

{% endblock body %}
