DJANGO_SETTINGS_MODULE=neutraltip.settings.production
SECRET_KEY=django-insecure-+-sxd16*k5i=8na*#72q3g_(mls-u2mbiecq8)4m($dt_gfx1b
ALLOWED_HOSTS=['localhost','127.0.0.1','neutraltip.herokuapp.com']
DEBUG=False