[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
django-markdownify = "*"
django-hitcount = "*"
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"
django-environ = "*"
psycopg2-binary = "*"
django-cloudinary-storage = "*"

[dev-packages]

[requires]
python_version = "3.9"
