{% extends 'home/base.html' %}
{% load markdownify %}
{% load account_tags %}

{% block meta %}
{% include 'home/components/~common/meta.html' with meta_title=article.title meta_desc=article.body|striptags|truncatechars:150 %}
{% endblock meta %}


{% block title %}
{{ article.title }} | by {{article.author.userprofile.get_full_name}} | Neutral Tip
{% endblock title %}

{% block body %}
   <!-- content
   ================================================== -->
   <section id="content-wrap" class="blog-single">
   	<div class="row">
   		<div class="col-twelve">

   			<article class="format-standard">  
				
				{% if article.thumb %}
				<div class="content-media">
					<div class="post-thumb">
						<img src="{{article.thumb.url}}" alt="{{article.thumb_alt}}" style="max-height: 20em;">
					</div>
				</div>
				{% endif %}

				<div class="primary-content">

					<h1 class="page-title">{{article.title}}</h1>	

					<ul class="entry-meta">
						{% user_name article.author href=True %}
						- <li class="date">{{article.get_datetime |date:"F j, Y, g:i a"}}</li>
						<br>
						<li class="cat">
							Category: <a href="{% url 'home:category_page' category=article.category %}">{{article.category |capfirst}}</a>
						</li>
					</ul>

					<div class="entry-excerpt">
						{% if article.show_excerpt_in_article %}
						<p class="lead">{{article.excerpt}}</p>
						{% endif %}
					</div>

					{{article.body | markdownify}}

					<p class="tags">
						<span>Tagged in :</span>
						{% for tag in article.tags.all %}
						<a href="{% url 'home:tag_page' tag=tag %}">{{tag}}</a>
						{% endfor %}
					</p>

					{% with article.author.userprofile as author %}
						{% if author.display_profile %}
						<div class="author-profile">
							{% profile_pic article.author %}

							<div class="about">
								<h4>{% user_name article.author %}</h4>

								{% if author.display_bio %}
								<p>{{author.bio}}</p>
								{% endif %}

								{% if author.display_socials %}
								<ul class="author-social">
									{% if author.facebook %}
									<li><a target="_blank" href="https://facebook.com/{{author.facebook}}">Facebook</a></li>
									{% endif %}
									{% if author.twitter %}
									<li><a target="_blank" href="https://twitter.com/{{author.twitter}}">Twitter</a></li>
									{% endif %}
									{% if author.instagram %}
									<li><a target="_blank" href="https://instagram.com/{{author.instagram}}">Instagram</i></a></li>					        	
									{% endif %}
									{% if author.website %}
									<li><a target="_blank" href="{{author.website}}">Website</a></li>
									{% endif %}
								</ul>
								{% endif %}
							</div>
						</div> <!-- end author-profile -->						
						{% endif %}
					{% endwith %}

				</div> <!-- end entry-primary -->		  			   

				<div class="pagenav group">
					<div class="prev-nav">
					<a href="{% url 'article:detail' slug=previous_article.slug %}" rel="prev">
						<span>Previous</span>
						{{previous_article.title}}
					</a>
					</div>
					<div class="next-nav">
						<a href="{% url 'article:detail' slug=next_article.slug %}" rel="next">
							<span>Next</span>
							{{next_article.title}}
						</a>
					</div>  				   
				</div>

			</article>
	

		</div> <!-- end col-twelve -->
   	</div> <!-- end row -->

		<div class="comments-wrap">
			<div id="comments" class="row">
				<div class="col-full">

               <h3>{{ comments|length }} Comment{{ comments|length|pluralize }} </h3>

               <!-- commentlist -->
               	<ol class="commentlist">
					{% for comment in comments %}
					<li class="depth-1">

						<div class="avatar">
						{% if comment.user %}
							{% profile_pic comment.user %}
						{% else %}
							<svg data-jdenticon-value="{{ comment.email }}" title="this image is unique for your Email ID"></svg>
						{% endif %}
						</div>

						<div class="comment-content">

							<div class="comment-info">
								<cite>{{ comment.name }}</cite>

								<div class="comment-meta">
								<time class="comment-time" datetime="2014-07-12T23:05">{{ comment.datetime |date:"F j, Y @ g:i a"}} </time>
								</div>
							</div>

							<div class="comment-text">
								<p>{{ comment.body }}</p>
							</div>

						</div>

					</li>
					{% endfor %}

               	</ol> <!-- Commentlist End -->					

               <!-- respond -->
               <div class="respond">

               	<h3>Leave a Comment</h3>

                  <form name="contactForm" id="contactForm" method="post" action="">
  					   <fieldset>

                     <div class="form-field">
  						      <input name="cName" type="text" id="cName" class="full-width" placeholder="Your Name" value="">
                     </div>

                     <div class="form-field">
  						      <input name="cEmail" type="text" id="cEmail" class="full-width" placeholder="Your Email" value="">
                     </div>

                     <div class="form-field">
  						      <input name="cWebsite" type="text" id="cWebsite" class="full-width" placeholder="Website"  value="">
                     </div>

                     <div class="message form-field">
                        <textarea name="cMessage" id="cMessage" class="full-width" placeholder="Your Message" ></textarea>
                     </div>

                     <button type="submit" class="submit button-primary">Submit</button>

  					   </fieldset>
  				      </form> <!-- Form End -->

               </div> <!-- Respond End -->

         	</div> <!-- end col-full -->
         </div> <!-- end row comments -->
		</div> <!-- end comments-wrap -->

   </section> <!-- end content -->

{% endblock body %}