{% extends 'home/base.html' %}
{% load account_tags %}

{% block title %}Submit: Article | Neutral Tip{% endblock title %}

{% block css %}
.alert .danger {
    color: red
}
input, textarea {
    width: 100%;
}
form [type=checkbox] {
    width: 20px;
    height: 20px;
}
textarea:focus, input:focus {
    background-color: #dcdcdc !important;
    caret-color: #000000;
    color: #000000;
}

.toolbar {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.toolbar a {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}
.toolbar .divider::after {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    color: #747474;
    content: '|';
}
{% endblock css %}

{% block body %}

<section id="content-wrap">
    <div class="row">
        
        <div class="alert">
            <div class="danger">
                {{form.errors.documents.0}}
            </div>
        </div>

        <br />
        
        <div class="col-twelve">
            <form action="{% url 'article:submit' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            {% user_name user href=True as user_name %}
            {% if user_name %}
                <h3> Currently logged in as: {{user_name}}</h3>
            {% else %}
                <h3> Anonymous Identity </h3>
            {% endif %}
            <mark> Classic/Visual text editor is not available for this moment <br/>
             you may upload Word&lpar;.docx&rpar;/PDF&lpar;.pdf&rpar; or other document formats to request a publish</mark>
             <br />
             <br />
             <br />

            {% for element in form %}
                <div class="form-group">
                    <label for="title">{{element.label}}</label>
                    {% if element.name == 'body' %}

                        <div class="toolbar">
                            <a title="Bold"><i class="fa fa-bold"></i></a>
                            <a title="Italic"><i class="fa fa-italic"></i></a>
                            <a title="Underline"><i class="fa fa-underline"></i></a>
                            <a title="Strikethrough"><i class="fa fa-strikethrough"></i></a>
                            <span class="divider"></span>
                            <a title="Unordered List"><i class="fa fa-list-ul"></i></a>
                            <a title="Ordered List"><i class="fa fa-list-ol"></i></a>
                            <a title="Blockquote"><i class="fa fa-quote-right"></i></a>
                            <span class="divider"></span>
                            <a title="Code Block"><i class="fa fa-code"></i></a>
                            <a title="Inline Code"><i class="fa fa-code-fork"></i></a>
                            <span class="divider"></span>
                            <a title="Link"><i class="fa fa-link"></i></a>
                            <a title="Unlink"><i class="fa fa-unlink"></i></a>
                            <a title="Clear formatting"><i class="fa fa-eraser"></i></a>
                        </div>
                        </div>

                    {% endif %}
                    {{element}}
                </div>
            {% endfor %}

            <mark>You can zip the many files into one .zip file if you please to upload more than one document</mark>
            <br />
            <br />
            
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</section>

{% endblock body %}